input[type="checkbox"]{
    display: none;
}

input[type="checkbox"]:checked + .btn {
    color: #fff;
    background: #608dff;
}

input[type="checkbox"]:hover + .btn {
  color: #fff;
  background-color: #0c0c0c;
}
